<h1>Notes</h1>
<div class="col-md-12" style="margin: 10px 0;">
  <%= link_to 'New Note', new_note_path, class:"btn btn-default pull-right" %>
</div>
<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      Random Joke
    </div>
    <div class="panel-body">
      <%= @joke %>
    </div>
  </div>

  <% @notes.each do |note| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to "#{note.user.username}", '#' %></b> posted on: <%= note.created_at %>
      </div>
      <div class="panel-body">
        <%= note.content %>
      </div>
      <div class="panel-footer">
        Likes: <%= note.likes.count %>
        <% if current_user.liked?(note) %>
          <%= link_to 'Unlike', note_like_path(note_id: note, id: note), method: :delete, class: 'btn btn-danger btn-xs' %>
        <% else %>
          <%= link_to 'Like', note_likes_path(note_id: note), method: :post, class: 'btn btn-success btn-xs' %>
        <% end %>

        <div class="pull-right">
          <%= link_to 'Edit', edit_note_path(note), class: 'btn btn-warning btn-xs' %>
          <%= link_to 'Delete', note_path(note), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-xs' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      Users
    </div>
    <div class="panel-body">
      <table class="table">
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= user.username %>
            </td>
            <td>
              <%= user.current_sign_in_at %>
            </td>
          </tr>
        <% end %>
      </table>
  </div>
  </div>
</div>
